body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;

}

ul {
    list-style: none;
}

li {
    float: left;
    margin-top: 2.5;

}

img {
    width: 90%;
    transition: transform 0.8s ease-in-out;
}

img:hover {
    transform: rotate(180deg);
    z-index: 20;
}

@media screen and (min-width:600px) {

    li {
        width: 50%;
    }

    img:hover {
        transform: scale(1.0);

 
    }
}


@media screen and (min-width:1200px) {

    li {
        width: 25%;
    }
    
    img:hover{
        transform: scale(1.5);
    }
}
